body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.img-container {
  height: 100vh;
  overflow: hidden;
  position: absolute;
  transition: cubic-bezier(.52,.03,.38,.97) 1000ms;
  width: 100vw;
}

.img-container[data-status="active"] {
  left: 0;
  z-index: 1;
}

.img-container[data-status="left"] {
  left: -100vw;
}

.img-container[data-status="right"] {
  left: 100vw;
}

.img-container[data-status="becoming-left"] {
  left: -100vw;
  transition: none;
}

.img-container[data-status="becoming-right"] {
  left: 100vw;
  transition: none;
}

.img-container[data-status="left"] > img,
.img-container[data-status="becoming-left"] > img {
  transform: translate(50%, 0);
  position: absolute;
}

.img-container[data-status="right"] > img,
.img-container[data-status="becoming-right"] > img {
  transform: translate(-50%, 0);
  position: absolute;
}

.img-container > img {
  height: 100%;
  object-fit: cover;
  transition: cubic-bezier(.52,.03,.38,.97) 1000ms;
  width: 100%;
}

.nav-button {
  align-items: center;
  background-color: hsla(0, 0%, 100%, 30%);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  height: 8vmin;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 8vmin;
}

#left-arrow {
  left: 4vmin;
  z-index: 2;
}

#right-arrow {
  right: 4vmin;
  z-index: 2;
}
